<!DOCTYPE html>
<html lang="{{ document_lang }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{% block title %}SmartBudget{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/responsive.css" />

  {% block extra_head %}{% endblock %}
</head>
<body>
  <header class="site-header">
    <div class="container header-row">
      <a class="brand" href="/">{{ t("brand_name") }}</a>

      <nav class="nav site-nav">
          <a class="nav-link" href="/">{{ t("nav_about") }}</a>
          <a class="nav-link" href="/products">{{ t("nav_products") }}</a>

          <span class="nav-sep">|</span>

          {% if lang == "ru" %}
            <a class="nav-link" href="?lang=en">RU</a>
          {% else %}
            <a class="nav-link" href="?lang=ru">EN</a>
          {% endif %}
      </nav>

    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="container footer-row">
      <div class="footer-left">
        <span class="muted">© {{ t("footer_copy") }}</span>
      </div>

      <div class="footer-center">
        <a class="footer-text-link" href="/faq">{{ t("footer_faq") }}</a>
        <span class="footer-sep">·</span>
        <a class="footer-text-link" href="/feedback">{{ t("footer_feedback") }}</a>
      </div>

      <div class="footer-right">
          <a class="footer-link" href="{{ t('link_tg_url') }}" target="_blank" rel="noopener" aria-label="Telegram">
            <img src="/static/img/icons/telegram.svg" alt="Telegram">
          </a>

          <a class="footer-link"
             href="{{ t('link_wa_url') }}"
             target="_blank"
             rel="noopener"
             title="Best on mobile"
             aria-label="WhatsApp">
            <img src="/static/img/icons/whatsapp.svg" alt="WhatsApp">
          </a>

          <a class="footer-link" href="{{ t('link_fb_url') }}" target="_blank" rel="noopener" aria-label="Facebook">
            <img src="/static/img/icons/facebook.svg" alt="Facebook">
          </a>

          <a class="footer-link" href="{{ t('link_vk_url') }}" target="_blank" rel="noopener" aria-label="VK">
            <img src="/static/img/icons/vk.svg" alt="VK">
          </a>

          <a class="footer-link" href="{{ t('link_email_url') }}" aria-label="Email">
            <img src="/static/img/icons/email.svg" alt="Email">
          </a>

          <a class="footer-link" href="{{ t('link_li_url') }}" target="_blank" rel="noopener" aria-label="LinkedIn">
            <img src="/static/img/icons/linkedin.svg" alt="LinkedIn">
          </a>
        </div>

    </div>
  </footer>


</body>
</html>
